/* Light mode */

$background-color: #fff !default;
$background-color-dim: #212529 !default;
$text-color-dim: #fff !default;
$brand-color: #fed136 !default;
$brand-color-bright: #fec503 !default;
$portfolio-color: rgba(254,209,54,.9) !default;
$timeline-color: #e9ecef !default; 
$contact-color: #ced4da !default;
$btn-primary-focus-color: rgba(254,209,55,.5) !default; 

/* Dark mode */

$background-color-dark: #212529 !default;
$background-color-dim-dark: #343a40 !default;
$text-color-dim-dark: #fff !default;
$text-color-lighter-dark: #ced4da !default;
$brand-color-dark: #3686fe !default;
$brand-color-bright-dark:  #42dad1 !default;
$portfolio-color-dark: rgba(54,134,254,0.52) !default;
$timeline-color-dark: #3686fe !default; 
$contact-color-dark: #ced4da !default;
$btn-primary-focus-color-dark: rgba(39,110,194,0.5) !default;

/* Default */

$primary: #F57900; 



